<main role="main">
  <h3 class="chuLonTieuDe" style="margin-top: 20px"><strong>Thông tin chi tiết về Sản phẩm</strong></h3>
  <div class="container mt-4">
    <div class="card">
      <div class="container-fliud row">
        <div class="col-lg-4">
          <img src="{{product.image}}" style="width: 350px">
        </div>
        <div class="col-lg-8">
          <div class="row">
            <span class="tenSanPham" >{{product.name}}</span>
          </div>
          <div class="row" style="margin-top: 5%">
            <div class="col-lg-2 moTa">Mô tả:</div>
            <div class="col-lg-8">
              <span>{{product.describe}}</span>
            </div>
          </div>
          <div class="row" style="margin-top: 5%">
            <div class="col-lg-2 moTa">Sizes:</div>
            <div class="col-lg-10">
              <div class="row">
                <div class="col-lg-2" *ngFor="let item of productSizeList; index as i">
              <span *ngIf="productSizeIdChoose != item.id">{{item.sizeName}}
                <input type="checkbox" (click)="chooseProductSize(item.id)">
              </span>
                  <span
                    style="pointer-events: none; background-color: #bababa; color: white; padding: 3px 10px;
              margin-bottom: 17px; border: 1px solid gray" *ngIf="productSizeIdChoose == item.id">{{item.sizeName}}
              </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 5%">
            <div class="col-lg-2 ">Giá:</div>
            <div class="col-lg-4">
              <span >{{product.price | number}} VNĐ</span>
            </div>
            <div class="col-lg-6"></div>
          </div>

          <div class="row" style="margin-top: 5%">
            <div class="col-lg-2 ">Hãng:</div>
            <div class="col-lg-4">
              <span><b>{{product.manufacturer}}</b></span>
            </div>
            <div class="col-lg-6"></div>
          </div>

          <div class="row" style="margin-top: 5%">
            <div class="col-lg-2 moTa">Số lượng:</div>
            <div class="col-lg-4">
              <input [(ngModel)]="quantityChoose" type="number" class="form-control" id="soluong" name="soluong" style="width: 30%">
            </div>
            <div class="col-lg-6"></div>
          </div>

          <div class="row" style="margin-top: 2%">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
              <button [disabled]="productSizeIdChoose == 0" (click)="addCart()" class="btn-card ">
                <span class='bi bi-cart4'></span>
                <span  style="margin-left: 2%">Thêm vào giỏ hàng</span>
              </button>
            </div>
            <div class="col-lg-6"></div>
          </div>
        </div>
        <div class="row">
          <div class="preview col-lg-6">
          </div>
          <div class="details col-lg-6">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg">
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
