.chuLonTieuDe{
  text-transform: uppercase;
  text-align: center;
}

.tenSanPham{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
.moTa{

}
.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}
