.chuLonTieuDe{
  text-transform: uppercase;
  text-align: center;
}

.tenSanPham{
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
.moTa{

}
.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}
.btn-addCart{
  border: solid 2px yellowgreen;
}
.btn-addCart:hover {
  border: solid 2px green;

}
