.search{
  width: 80%;
  height: 40%;
  border-radius: 10px;
  border: solid #2D7AF7;
}
.search:hover{
  border: solid 2px #DF1442;
}


.btn-timKiem{
  height: 40%;
  border: solid 2px #2D7AF7;
  background: white;
}
.btn-timKiem:hover{
  border: solid 2px #DF1442;
}
.card {
  list-style: none;
  position: relative;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: .5s ease;
}

.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transform: translateY(-30px);
}
.btn-xem-them{
  color: green;
  border: 1px solid green;
  background: white;

}
.btn-xem-them:hover{
  color: #DF1442;
}
.btn-update{
  margin-left: 37%;
  color: #FA6F2B;
  width:25%;
  border: solid 2px #FA6F2B;
}
.btn-update:hover {
  border: solid 2px #FA3113;
  color: #FA3113;
}

.btn-delete{
  background: white;
  margin-left: 85%;
  width: 50%;
  border: 0;
  color: #DF1442;
}
.btn-delete:hover {
  border: solid 2px red;
}

.btn-themMoi{
  margin-left: 25%;
  border: solid 2px #4C75F5;
  color: #4C75F5;
}

.btn-themMoi:hover{
  margin-left: 25%;
  border: solid 2px #401FEB;
  color: #401FEB;
}
