<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/slide/slide1.jpg" class="d-block w-100" alt="..." height="500">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide/slide2.jpg" class="d-block w-100" alt="..." height="500">
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide/slide3.jpg" class="d-block w-100" alt="..." height="500">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="row pt-4">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <img src="../assets/images/coollogo.gif" style="margin-left: 30%">
  </div>
  <div class="col-lg-4">
    <input class="search" type="search" [(ngModel)]="nameSearch"
           placeholder="Bạn muốn tìm gì?...">
    <button class="btn btn-timKiem" (click)="paginate()" style="margin-left: 1%">
      <span class='bi bi-search' style="color: #2041FF"></span>
    </button>
  </div>
</div>
<div class="row"><H1 CLASS="text-center">SẢN PHẨM BÁN CHẠY</H1></div>
<div class="row" *ngIf="isAdmin">
  <div class="col-lg-4">
    <button class="btn-themMoi">
      <i class="bi bi-file-earmark-plus"></i>
      Thêm mới
    </button>
  </div>
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4"></div>
</div>
<div class="row  mb-5 justify-content-center" *ngIf="action">
  <div class="row" style="margin-left: 12%">
    <div class="card" style="width: 18rem;" *ngFor="let item of (productList$ | async)">

        <button class="btn-delete" style="width: 20%" *ngIf="isAdmin"
                data-bs-toggle="modal" data-bs-target="#delProduct"
                (click)="getInfoDelete(item.id, item.name, item.image)">
          <i class="bi bi-trash"></i>
        </button>

      <a routerLink="/product/detail/{{item.id}}">
        <img src="{{item.image}}" class="card-img-top" alt="..." height="250">
      </a>

      <div class="text-center pt-2 " style="height: 35%">
        <h5><b>{{item.name | uppercase}}</b></h5>
      </div>
      <div class=" text-center">
        <span>{{item.price | number}} VNĐ</span>
      </div>

      <div class=" text-center" *ngIf="!isAdmin">
        <a routerLink="/product/detail/{{item.id}}">
          <span class='bi bi-cart4'></span>
          <span style="margin-left: 2%">Thêm vào giỏ hàng</span>
        </a>
      </div>

      <div class="row" style="margin-bottom: 3%" *ngIf="isAdmin">
          <button class="btn-update" routerLink="/product/update/{{item.id}}">
            <i class="bi bi-brush-fill"></i>
          </button>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn-xem-them " style="width: 9%;margin-left: 45.2%" *ngIf="pageSize <= (total$ | async)"
            (click)="nextPage()">
      <span class='bi bi-caret-right'> Xem thêm</span>
    </button>
  </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="delProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header row">
        <div>
          <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="text-center">
          <b><span style="color: #a50318;font-size: 30px">XÓA SẢN PHẨM </span></b>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <span class="text-center" style="color: #a50318;font-size: 20px"><b>{{nameDelete}}</b></span>
        </div>
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <img src="{{imageDelete}}" width="60%" style="margin-left: 25%">
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProduct(idDelete)">Xóa
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
