<div class="row mt-5 mb-5 nav justify-content-center" *ngIf="action">
  <div class="card " style="width: 18rem;" *ngFor="let item of (productList$ | async)">
    <a routerLink="/product/detail/{{item.id}}">
      <img src="{{item.image}}" class="card-img-top" alt="..." height="250">
    </a>
<!--    <a data-bs-toggle="modal" data-bs-target="#detailProduct"><img src="{{item.image}}" class="card-img-top" alt="..." height="250"></a>-->
    <div class="card-body text-center pt-2">
      <h5 class="card-title"><b>{{item.name | uppercase}}</b></h5>
      <div class="card-text p-0">{{item.price | number}} VNĐ </div>
      <a href="#" class="btn-card ">
        <span class='bi bi-cart4'></span>
        <span style="margin-left: 2%">Thêm vào giỏ hàng</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div style="margin-left:85%">
    <a class="btn-xem-them" *ngIf="pageSize <= (total$ | async)" (click)="nextPage()">
      <span style="margin-left: 1%" class='bi bi-caret-right'> Xem thêm</span>
    </a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Chi tiết sản phẩm</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
