.search{
  width: 80%;
  height: 40%;
  border-radius: 10px;
  border: solid #2D7AF7;
}
.search:hover{
  border: solid 2px #DF1442;
}


.btn-timKiem{
  height: 40%;
  border: solid 2px #2D7AF7;
  background: white;
}
.btn-timKiem:hover{
  border: solid 2px #DF1442;
}
.card {
  list-style: none;
  position: relative;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: .5s ease;
}

.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transform: translateY(-30px);
}
.btn-xem-them{
  color: green;
  border: 1px solid green;
  background: white;

}
.btn-xem-them:hover{
  color: #DF1442;
}
.btn-update{
  margin-left: 25%;
  color: darkslategray;
  width: 50%;
  border: solid 2px darkslategray;
}
.btn-update:hover {
  border: solid 2px indigo;
}

.btn-delete{
  margin-left: 25%;

  width: 50%;
  border: solid 2px #DF1442;
  color: #DF1442;
}
.btn-delete:hover {
  border: solid 2px darkslategray;
}
