<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <a routerLink="/product">
        <img src="../assets/images/LOGO.png" style="width: 90%;margin-left: 24%">
      </a>
    </div>
    <div class="col-lg-7" style="color: black;font-size: 25px;margin-top: 3%;text-align: center">
      <p style="font-size: 40px">THỜI TRANG NAM - CÔNG SỞ ONLINE </p>
      <p>Hotline: 1900.9999 (08h00 - 22h00)</p>
    </div>
    <div class="col-lg-3" style="margin-top: 5%">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
          <div class="row">
            <a routerLink="/login" *ngIf="username==''">
            <span class="login" style="font-size: 30px">
               <span class="bi bi-box-arrow-in-right" style="margin-top: 90%;color: #c80000"></span>
            <span class="logInLogOut" style="margin-left: 4%">Đăng nhập</span>
            </span>
            </a>
            <a routerLink="/view/customer/{{username}}">
            <span style="color: orange;text-align: center;font-size: 30px">
            <i class="bi bi-person-square"></i>
              {{username}}
            </span>
            </a>
            <span  *ngIf="username!=''"  (click)="whenLogout()" style="font-size: 30px" class="logInLogOut" >
              <span class="bi bi-box-arrow-in-left"></span>
              Đăng xuất
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light"
         style="background: #DF1442;height: 40px;font-size: 20px">
      <div class="collapse navbar-collapse" id="navbarEmployee">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="margin-left: 3%;list-style: none">
          <li class="nav-item dropdown doiMau">
            <a class="nav-link dropdown-toggle doiMau" href="#" role="button"
               data-bs-toggle="dropdown" style="color: white">
              ÁO NAM
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarEmployee">
              <li>
                <a class="dropdown-item" href="#">
                  <span style="color: green">Áo Khoác</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/employee">
                  <span style="color: green">Áo sơ mi</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/employee">
                  <span style="color: green">Áo thun</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle chu_menu" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
              QUẦN NAM
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarEmployee">
              <li>
                <a class="dropdown-item" href="/employee/create">
                  <span style="color: green">Quần Tây</span>
                </a>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/employee">
                  <span style="color: green">Quần Short</span>
                </a>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/employee">
                  <span style="color: green">Quần Jean</span>
                </a>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/employee">
                  <span style="color: green">Quần Kiểu</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link  chu_menu" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
              ĐỒ THỂ THAO
            </a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle chu_menu" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
              ĐỒ LÓT
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarEmployee">
              <li>
                <a class="dropdown-item" href="/employee/create">
                  <span style="color: green">Quần lót</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link chu_menu" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
              ĐỒ BƠI - ĐỒ TẮM
            </a>
          </li>
        </ul>
      </div>

      <div style="list-style: none">
        <li class="nav-item dropdown">
          <a *ngIf="username==''" class="nav-link dropdown-toggle chu_menu" routerLink="/login" role="button"
             data-bs-toggle="dropdown" aria-expanded="false" style="color: white;margin-left: 3%">
            GIỎ HÀNG
          </a>
          <a *ngIf="username!=''" class="nav-link dropdown-toggle chu_menu" role="button"
             data-bs-toggle="dropdown" aria-expanded="false" style="color: white;margin-left: 3%">
            GIỎ HÀNG
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarEmployee" style="list-style: none"  *ngIf="username!=''"  >
            <li >
              <a  class="nav-link  chu_menu" routerLink="/product/cart-list/{{username}}" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false" style="color: green">
                <span class='bi bi-cart3'></span>
                <span >Giỏ hàng ({{sumQuantityCart}})</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" routerLink="/history/{{username}}">
                <span style="color: green">Lịch sử đã mua</span>
              </a>
            </li>
          </ul>
        </li>

      </div>


      <a (click)="reload()" style="color: white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise"
             viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
        </svg>
      </a>

    </nav>
  </div>
</div>
