<div class="row" style="margin-top: 5%">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-3">
        <div class="row">
            <span>
              <img src="../assets/images/coollogo.gif" style="width: 60px">
              <span style="color: #DF1442;font-size: 15px"> DAT FASHION</span>
            </span>
        </div>
        <div class="row">
          <a href="#">
            Giới thiệu Dat Fashion
          </a>
        </div>
        <div class="row">
          <a href="#">
            Giải quyết khiếu nại - Bảo Hành
          </a>
        </div>
        <div class="row">
          <a href="#">
            Quy định Giao hàng - Đổi trả hàng
          </a>
        </div>
        <div class="row">
          <a href="#">
            Chính sách bảo mật
          </a>
        </div>
        <div class="row">
          <a href="#">
            Tuyển Dụng
          </a>
        </div>
        <div class="row">
          <a href="#">
            DỊCH VỤ GIAO HÀNG:
          </a>
          <div class="col-lg-6">
            <img src="https://www.zanado.com/skin/frontend/default/thoitrang/images/partner/ghn.jpg">
          </div>
          <div class="col-lg-6">
            <img src="https://www.zanado.com/skin/frontend/default/thoitrang/images/partner/vnpost.jpg">
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <p>
            <span style="color: #DF1442;font-size: 15px"> HỢP TÁC</span>
          </p>
        </div>
        <div class="row">
          <a href="#">
            Cung cấp hàng cho Dat Fashion
          </a>
        </div>
        <div class="row">
          <a href="#">
            Bán buôn - Bán sỉ
          </a>
        </div>
        <div class="row">
          <a href="#">
            Chương trình
          </a>
        </div>
        <div class="row">
          <a href="#">
            AFFILIATE
          </a>
        </div>
        <div class="row">
          <a href="#">
            Gia công may mặc thời trang
          </a>
        </div>
        <div class="row">
          <a href="#">
            Tuyển đại lý
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <p>
            <span style="color: #DF1442;font-size: 15px"> HỖ TRỢ</span>
          </p>
        </div>

        <div class="row">
          <a href="#">
            Cửa hàng showroom Dat Fashion
          </a>
        </div>
        <div class="row">
          <a href="#">
            Thanh toán Online
          </a>
        </div>
        <div class="row">
          <a href="#">
            Hướng dẫn mua hàng
          </a>
        </div>
        <div class="row">
          <a href="#">
            Hỏi đáp
          </a>
        </div>
        <div class="row">
          <a href="#">
            Liên hệ
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <p>
            <span style="color: #DF1442;font-size: 15px"> CÔNG TY CP DAT FASHION</span>
          </p>
        </div>

        <div class="row">
          <a href="#">
            GPKD số: 0311304610
          </a>
        </div>
        <div class="row">
          <a href="#">
            Do Sở KH & ĐT TP.HCM cấp ngày 02/11/2011
          </a>
        </div>
        <div class="row">
          <a href="#">
            Trụ sở chính: 280, An Hải Tây, Sơn Trà, TP.Đà Nẵng
          </a>
        </div>
        <div class="row">
          <a href="#">
            Email: support@datfashion.com
          </a>
        </div>
        <div class="row">
          <a href="#">
            Điện thoại: 1900.9999
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>

